<DOCTYPE! html>
<html>
<head>

<style>
<div>
p { 
    border: 2px solid powderblue;
    margin: 1px;
    height: 300;
    width: 750
}
</style>
</head>

<body>

<h1 align = "center"> Welcome to my home page. This is designed by XXX 

</h1>
<img src="best cars.jpg" alt="Best Cars" width ="1800" height="100">
<article>
  <header>
    <h1>Description about Sun</h1>
  </header>
</article>
<p id = "notforfooter">The sun and its atmosphere are divided into 

several zones and layers. The solar interior, from the inside out, is 

made up of the core, radiative zone and the convective zone. The solar 

atmosphere above that consists of the photosphere, chromosphere, a 

transition region and the corona. Beyond that is the solar wind, an 

outflow of gas from the corona.

The core extends from the sun's center to about a quarter of the way to 

its surface. Although it only makes up roughly 2 percent of the sun's 

volume, it is almost 15 times the density of lead and holds nearly half 

of the sun's mass. Next is the radiative zone, which extends from the 

core to 70 percent of the way to the sun's surface, making up 32 percent 

of the sun's volume and 48 percent of its mass. Light from the core gets 

scattered in this zone, so that a single photon often may take a million 

years to pass through.

The convection zone reaches up to the sun's surface, and makes up 66 

percent of the sun's volume but only a little more than 2 percent of its 

mass. Roiling "convection cells" of gas dominate this zone. Two main 

kinds of solar convection cells exist — granulation cells about 600 miles 

(1,000 kilometers) wide and supergranulation cells about 20,000 miles 

(30,000 km) in diameter.

The photosphere is the lowest layer of the sun's atmosphere, and emits 

the light we see. It is about 300 miles (500 km) thick, although most of 

the light comes from its lowest third. Temperatures in the photosphere 

range from 11,000 F (6,125 C) at bottom to 7,460 F (4,125 C) at top. Next 

up is the chromosphere, which is hotter, up to 35,500 F (19,725 C), and 

is apparently made up entirely of spiky structures known as spicules 

typically some 600 miles (1,000 km) across and up to 6,000 miles (10,000 

km) high..</p>
</div>

<div>
<footer>
  <p>Posted by: Someswaran Krishnan</p>
  <p>Contact information: <a 

href="mailto:someone@example.com">someone@example.com</a>.</p>
</footer>
</div>
</body>
</html>

<%= link_to 'about', about_path %>
<%= link_to 'pages2', about_path %>